{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "react-app",
        "prettier"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto",
                "printWidth": 100,
                "tabWidth": 2,
                "trailingComma": "none",
                "semi": false,
                "no-mixed-spaces-and-tabs": [
                    "error",
                    "smart-tabs"
                ]
            }
        ],
        "no-unused-vars": ["warn"]
    }
}